# update docker and enable squash similar to https://github.com/Dalee/build.docker/blob/master/.travis.yml
language: bash
sudo: required

services:
  - docker

before_install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - echo 'DOCKER_OPTS="--experimental=true"' | sudo tee /etc/default/docker
  - sudo service docker restart

# our specific build below:

before_script:
  # Log in to Docker Hub for releasing the image
  - docker login -u dockerzipkindeployer -p "$DOCKERHUB_PASSWORD"

# Run only for tags as "on: tags: true" will still build master!
# Heuristic: tags describe versions, so they'll start with a number
branches:
  only:
    - /^[0-9]/

script:
 - ./release.sh $TRAVIS_TAG

env:
  global:
    # Docker Hub credentials
    secure: O+P9Rkwsd866JucLwPt6Db8jTm4PN6SdKtP0X46Hgl2s5HZh4ude8TXkVe+hlGu7eXV2AoVG8b7FDaptzY8thtWMao2HNBcTgbUh4yhvdsN2y9+JUNVwxxgarCBoyqwKDbS0JtWfO22ms4Au+hGA1cfG5t/Qpr0eGaNxoNvsTs72CfeyDCZhzSeTbZeQDdAUqX9CCgrB6TB/3ZA3wCS7qptna0HW/+aZRSMGHQzM9oGYlSaWa7HHGMa2llsGK5lRMpPL/GNdFlZRTgqtjIvMAfZHqXPgdIOZ9clO/nntcIx1VAtExqalneXchj4GciJ3EvniPc5QX91m4S7/R3KTkk8IDjK3SpxfMo4KrOkbL93bl9Ku82LNPCmxvSPn3moznQI7AX1kIzxPapqVElEJL3pDVPre561gCb4IQjR9L7ZvS3gUd36VoFg1VHjqwPjM6Re36o4s3NXmQzITu6SkJ0OZQpOdLAiVi/2nvcSaU8jl4boCnoramqoRYkeMkt91k8gNA+CEzXS9/WKQy1PI9ZeS2mmct6yYePwUG+ZETv/FodEUFY9OdSL7LwDc5BxMKwG10+3N3glJcKljag3vZtjCZ5O11TRCRcwEkcdcPHgwaH4M5EQVeF023YsG8VkEcufEuHvrjIuMTAC354Q/LyQjr/1UufsodyX3eh8kcx0=

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/637e968b45032d16ee26
    on_success: change
    on_failure: always
    on_start: false
