# See https://docs.travis-ci.com/user/reference/overview/#for-a-particular-travisyml-configuration
arch:  # only test archs not already tested with GH actions
  - arm64
  - s390x
os: linux   # required for arch different than amd64
dist: focal # newest available distribution
language: bash
services: docker

git:
  depth: false  # TRAVIS_COMMIT_RANGE requires full commit history.

if: branch = master AND tag IS blank AND type IN (push, pull_request)
before_install: |  # Prevent test build of a documentation-only change.
  if [ -n "${TRAVIS_COMMIT_RANGE}" ] && ! git diff --name-only "${TRAVIS_COMMIT_RANGE}" -- | grep -qv '\.md$'; then
    echo "Stopping job as changes only affect documentation (ex. README.md)"
    travis_terminate 0
  fi
install: ./build-bin/configure_test
script:
  # Test LTS JDK
  - ./build-bin/test 11.0.9_p11
  # Test latest JDK
  - ./build-bin/test

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/ead3c37d57527214e9f2
      - https://webhooks.gitter.im/e/9f1ee2f315d32956f8d6
    on_success: change
    on_failure: always
