# Run `travis lint` when changing this file to avoid breaking the build.

# We need a full VM so that testcontainers can use Docker
# See https://docs.travis-ci.com/user/reference/overview/#for-a-particular-travisyml-configuration
os: linux             # required for arch different than amd64
dist: focal           # newest available distribution
language: bash

services:
  - docker

before_install:
  - |
    # Add Google's mirror as our base image is from Docker Hub, which has a pull limit.
    # * See https://cloud.google.com/container-registry/docs/pulling-cached-images
    echo '{ "registry-mirrors": ["https://mirror.gcr.io"] }' | sudo tee /etc/docker/daemon.json
    sudo service docker restart

# Test on both archs
arch:
  - amd64
  - arm64

jobs:
  include:
    - stage: test
      name: "Build and run Docker image"
      script: ./build_image && docker run --rm openzipkin/java:test -version
    - stage: push
      name: "Build and push multi-architecture Docker images"
      arch: amd64
      script:
        - |
          # re-use this condition to control if we prepare Docker for multi-arch
          build-bin/setup_multiarch_docker

          # Log in to Docker Hub for releasing the image
          echo "$GH_TOKEN"| docker login ghcr.io -u "$GH_USER" --password-stdin

          # Push both images
          DOCKER_TAG=ghcr.io/openzipkin/java:${TRAVIS_TAG} ./build_image ${TRAVIS_TAG} jdk push &&
          DOCKER_TAG=ghcr.io/openzipkin/java:${TRAVIS_TAG}-jre ./build_image ${TRAVIS_TAG} jre push
      # Credentials entered into https://travis-ci.org/github/openzipkin/${REPO}/settings are access
      # controlled by branch (typically only master). Check to see if a well-known env is available
      # before attempting to log in.
      if: 'type IN (push) and tag =~ /^[0-9]/ and env(GH_USER) IS present'

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/ead3c37d57527214e9f2
      - https://webhooks.gitter.im/e/9f1ee2f315d32956f8d6
    on_success: change
    on_failure: always

# When Travis, add to https://travis-ci.org/github/openzipkin/${REPO}/settings
#
# GH_TOKEN=XXX-https://github.com/settings/tokens-XXX
#   - makes release commits and tags, also writes to GHCR if Docker
#   - needs repo:status, public_repo and if Docker write:packages, delete:packages
#   - referenced in .settings.xml
#   - store like this: echo "https://$GH_TOKEN:@github.com" > .git/credentials
# GH_USER=user_that_created_GH_TOKEN
