# yamllint --format github .github/workflows/deploy.yml
---
name: deploy

# We deploy on master and release versions, regardless of if the commit is
# documentation-only or not.
on:
  push:
    tags: '[0-9]+\.[0-9]+\.[0-9]+'
    branches: master

jobs:
  deploy:
    runs-on: ubuntu-20.04  # newest available distribution, aka focal
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          # license-maven-plugin needs the full history to generate copyright
          # year range. Ex. 2013-2020. Don't do a shallow clone!
          fetch-depth: 0
      - name: Cache docker
        uses: actions/cache@v2
        with:
          path: ~/.docker
          key: ${{ runner.os }}-docker-${{ hashFiles('**/Dockerfile') }}
          restore-keys: ${{ runner.os }}-docker
      - name: Configure Deploy
        run: build-bin/configure_deploy
        env:
          # GH_USER=<user that created GH_TOKEN>
          GH_USER: ${{ secrets.GH_USER }}
          # GH_TOKEN=hex_token_value
          #   - pushes Docker images to ghcr.io
          #   - create via https://github.com/settings/tokens
          #   - needs repo:status, public_repo, write:packages, delete:packages
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Deploy
        # GITHUB_REF will be refs/heads/master or refs/tags/N.M.L
        run: build-bin/deploy $(echo ${GITHUB_REF} | cut -d/ -f 3)
